[submodule "python/sdk"]
	path = python/sdk
	url = https://github.com/addihorowitz/eyes.selenium.python
[submodule "java/sdk"]
	path = java/sdk
	url = https://github.com/addihorowitz/eyes.sdk.java3
[submodule "ruby/sdk"]
	path = ruby/sdk
	url = https://github.com/addihorowitz/eyes.sdk.ruby
